body{
    user-select: none;
    background-repeat: repeat;
    position: relative;
    width: 95%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

img{
    width: 50%;
    margin-left: 5rem;
}



.menu{
    display: flex;
    flex-direction: column;
    margin-left: 13rem;
    width: 20%;
}

.menu-item {
    margin-left: 15%;
    margin-bottom: 2rem;
    text-decoration: none;
    color: white;
    font-size: 3.5rem;
    font-weight: bold;
}

.menu-item:hover {
    color: #C3BE8F;
}


/* media at 992 and 576 */

/* tablet */
/* 576-992 */
@media only screen and (min-width: 576px) and (max-width: 992px) {
    body{
        background-image: url('images/bg/mainmenu_tablet.png');
    }
    .menu {
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    img{
        width: 80%;
        justify-content: center;
        align-items: center;
    }

}

/* mobile */
/* 0-576 */
@media only screen and (max-width: 576px) {
    body{
        background-image: url('images/bg/mainmenu_mobile.png');
    }
    .menu{
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    img{
        width: 75%;
        justify-content: center;
        align-items: center;
    }

}
