body{
    user-select: none;
    background-image: url('/images/bg/mainmenu_art.png');
    background-repeat: repeat;
    position: relative;
    width: 95%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.menu{
    display: flex;
    flex-direction: column;
    margin-left: 13rem;
    width: 20%;
}

.menu-item {
    margin-left: 15%;
    margin-bottom: 2rem;
    text-decoration: none;
    color: white;
    font-size: 3.5rem;
    font-weight: bold;
}

.menu-item:hover {
    color: #C3BE8F;
}
