.table-col {
    /* กำหนดความสูงของคอลัมน์ให้เท่ากับความกว้างโดยประมาณ */
    /* คุณอาจต้องปรับค่านี้ให้เหมาะสมกับความกว้างของคอลัมน์บนหน้าจอของคุณ */
    height: 100px; /* ตัวอย่าง: กำหนดความสูงเท่ากับ 100px */
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-col p {
    margin: 0; /* ลบ margin ของ <p> เพื่อให้ text อยู่ตรงกลาง */
}
