h3{
    margin: 0;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-top: 1%;
    cursor: none;
    user-select: none;
}

b{
    width: 50%;
    margin-left: 32px;
    margin-bottom: 20px;
}

button{
    margin:0px;
}
/* icon */
.icon{
    text-align: right;
    justify-content: right;
    margin-top: 3rem;
    margin-right: 5rem;
}

/* Select a battlefield */
.box{
    font-size: 4rem;
    width: 60%;
    height: 46rem;
    padding: 30px;
    background-color: #8A7D5D;
    border-radius: 5%;
    margin: auto;
  }

  /* scroll here */
.roomlist{
    overflow-y: scroll;
    height: 35.5rem;
    padding: 10px;
    width: 100%;
    /* background-color: rgb(20, 145, 255); */
    scrollbar-color: black rgba(255, 255, 255, 0);
    scrollbar-arrow-color: white;
    scrollbar-width:none;
}

.room{
    /* background-color: rgb(146, 172, 135); */
    display: flex; 
    align-items: center;
    justify-content: space-between
}
.lobby{
    background-color: rgb(105, 100, 86);
    margin-top: 10px;
    padding: 2px;
    border-radius: 5%;
    /* height: 50%; */
}
/* lobby room */
.lobbyroom{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0px; */
    width: 40%;
    height: 4rem;
    padding: 30px;
    margin: auto;
    margin-bottom: 1.2rem;

    background-color:#C4B796;
    box-shadow: 5px 10px #2c2c2c;
    border-radius: 60px;
    font-size: 2rem;
    font-weight: bold;
}

.lobbyroom:hover {
    background-color: black;
    color: #C4B796;
}


.numberplayer {
  flex-grow: 0; /* Prevent the span from taking up extra space */
  text-align: right; /* Align text within the span to the right */
}

.numberplayer{
    position:relative;
    right: 0px;
}
