body::-webkit-scrollbar {
    display: none;
  }

h1{
    font-size: 7rem;
    margin-bottom: 0;
    
}

h3{
    font-size: 3rem;
    margin-top: 0;
}

.box{
    font-size: 5rem;
    width: 34rem;
    height: 41rem;
    padding: 10px;
    background-color: #C4B796;
    border-radius: 5%;
    /* margin: auto; */
    box-shadow: 5px 10px #2c2c2c;
    text-align: center;
}

/* select button */
.select {
    display: flex;
    height: 4rem;
    justify-content: center;
    align-items: center;
}

.selectbtn {
    margin-right: .7rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: .3rem;
    padding-bottom: .3rem;

    color: black;
    background-color: #C4B796;
    box-shadow: 5px 10px #2c2c2c;
    border-radius: 20px;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
}

.selectbtn:hover{
    color:#C4B796;
    background-color: black;
}

/* .box_ani1{
    position: absolute;
    right: -20%;
    top: 50%;
    transform: translate(50%, -50%); 
    animation: slideIn 2s forwards; 
}

.box_ani2{
    position: absolute;
    left: -20%; 
    top: 50%;
    transform: translate(-50%, -50%);
    animation: slideOut 2s forwards; 
} */

.flex_container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10%;
}
.icon{
    text-align: right;
    justify-content: right;
    margin-top: 3rem;
    margin-right: 5rem;
}
